@media (max-width: 768px) {
    form {
        padding: 20px 30px;
        margin: 0px 20px;
    }

    form h1 {
        font-size: 20px;
    }

    input,
    button {
        font-size: 14px;
        padding: 12px;
    }
}
